---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Conferences" sideBarActiveItemID="conferences">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Events Organized</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Industrial Exoskeletons: Market Demands, Open Challenges and Research Opportunities"
      subtitle="Workshop at IEEE CASE 2024"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Musculoskeletal Biomechanics II: Upper Limb"
      subtitle="Conference session at European Society of Biomechanics Conference 2022"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Emerging Wearable Sensors and Systems"
      subtitle="Conference session at the IEEE Sensors Conference 2021"
    >
    </TimeLineElement>
  </div>
  
</BaseLayout>
