---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Conferences" sideBarActiveItemID="conferences">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Events Organized</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Improved Diagnostics through digital twins: neuromusculoskeletal modeling and simulations for clinical rehabilitation"
      subtitle="Workshop at Dutch Congress of Rehabilitation Medicine 2024"
      url="https://www.rehabilitationmedicinecongress.nl/event/dcrm-2024/programma/parallel-sessie-b/"
    ></TimeLineElement>
    <TimeLineElement
      title="Industrial Exoskeletons: Market Demands, Open Challenges and Research Opportunities"
      subtitle="Workshop at IEEE CASE 2024"
      url="https://case2024.org/"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Musculoskeletal Biomechanics II: Upper Limb"
      subtitle="Conference session at European Society of Biomechanics Conference 2022"
      url="https://esbiomech.org/conference/archive/2022porto/"
    >
    </TimeLineElement>
    <TimeLineElement
      title="Emerging Wearable Sensors and Systems"
      subtitle="Conference session at the IEEE Sensors Conference 2021"
      url = "https://2021.ieee-sensorsconference.org/"
    >
    </TimeLineElement>
  </div>
  
</BaseLayout>
