---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Talks" sideBarActiveItemID="talks">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Conference Presentations</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Docent/Lecturer, University of Twente"
      subtitle="From 01-03-2021 to 31-07-2021 at Enschede, The Netherlands"
    >
      After my Ph.D., I spent a few months teaching 'De Bewegende Mens en Gezondheidsrecht ' course (202000825) for Bachelor Technical Medicine students. I was the instructor for the Motion Capture practical, and setup  different laboratory equipment and and drafted course-specific manuals for them. The equipment included Qualisys motion tracker, Force plates, Delsys EMG systems, and Biodex dynamometer. I evaluated their experimental protocols and final course reports as part of the course requirements.
    </TimeLineElement>
    <TimeLineElement
      title="Service Engineer, TransHealth Care Pvt. Ltd."
      subtitle="From 01-01-2014 to 30-09-2014 at Chennai, India"
    >
      During my stint here, I serviced, installed, demonstrated use of, and maintained biomedical equipment in several hospitals and clinics across South India and New Delhi. The equipment included ventilators, infusion pumps, baby warmers, and patient monitors. I enjoyed problem solving and troubleshooting faulty medical equipment and understanding the pain points of the healthcare workers using them. 
    </TimeLineElement>
    <TimeLineElement
      title="Program Analyst, Cognizant Technology Solutions"
      subtitle="From 01-12-2012 to 31-12-2013 at Bengaluru, India"
    >
      My first real job was working at one of India's largest software consulting firms. I worked with C# and VB .NET. I built desktop and website applications for an American company: Traveler's Insurance. The company had recently added 401(k) pension plans, and we had to enable its functionality on their desktop and website apps. 
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Conference Organization</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Docent/Lecturer, University of Twente"
      subtitle="From 01-03-2021 to 31-07-2021 at Enschede, The Netherlands"
    >
      After my Ph.D., I spent a few months teaching 'De Bewegende Mens en Gezondheidsrecht ' course (202000825) for Bachelor Technical Medicine students. I was the instructor for the Motion Capture practical, and setup  different laboratory equipment and and drafted course-specific manuals for them. The equipment included Qualisys motion tracker, Force plates, Delsys EMG systems, and Biodex dynamometer. I evaluated their experimental protocols and final course reports as part of the course requirements.
    </TimeLineElement>
    <TimeLineElement
      title="Service Engineer, TransHealth Care Pvt. Ltd."
      subtitle="From 01-01-2014 to 30-09-2014 at Chennai, India"
    >
      During my stint here, I serviced, installed, demonstrated use of, and maintained biomedical equipment in several hospitals and clinics across South India and New Delhi. The equipment included ventilators, infusion pumps, baby warmers, and patient monitors. I enjoyed problem solving and troubleshooting faulty medical equipment and understanding the pain points of the healthcare workers using them. 
    </TimeLineElement>
    <TimeLineElement
      title="Program Analyst, Cognizant Technology Solutions"
      subtitle="From 01-12-2012 to 31-12-2013 at Bengaluru, India"
    >
      My first real job was working at one of India's largest software consulting firms. I worked with C# and VB .NET. I built desktop and website applications for an American company: Traveler's Insurance. The company had recently added 401(k) pension plans, and we had to enable its functionality on their desktop and website apps. 
    </TimeLineElement>
  </div>
  
</BaseLayout>
