---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Research Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Assistant Professor"
      subtitle="From 01-02-2024 to now at University of Twente, Enschede, The Netherlands"
    >
      As an faculty member in AI and Sensing technologies, I plan to explore research topics on
      <ul>
        <li>modelling human-exosuit interfaces</li>
        <li>sparse wearable sensing modalities</li>
        <li>fusing model-free and model-based approaches for biomechanical modelling</li>
        <li>assistive robotics for occupational tasks</li>
        <li>assistive robotics for space exploration</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Visiting Researcher"
      subtitle="From 01-07-2024 to 30-09-2024 at University College London, London, UK"
    >
      During my brief stay at <a href="https://tthuruthel.com/">Thomas George Thuruthel</a>'s lab, I developed techniques to optimize design of soft robots to 
      assist movement of the human joint. Then, we applied machine learning techniques to estimate contact forces between the soft robot and the human joint. 
    </TimeLineElement>
    <TimeLineElement
      title="Postdoctoral Research"
      subtitle="From 01-11-2021 to 31-01-2024 at University of Twente, Enschede, The Netherlands"
    >
      I was part of two EU projects, the the SOPHIA Project (https://project-sophia.eu/) under Prof. Massimo Sartori. The goal is to develop injury likelihood estimators based on real-time estimates of musculoskeletal states and thereafter develop control logics for bio-protective exosuits.
    </TimeLineElement>
    <TimeLineElement
      title="Doctoral Candidate"
      subtitle="From 19-03-2017 to 07-07-2021 at University of Twente, Enschede, The Netherlands"
    >
      Funded by Dutch NWO, under the project NeuroCIMT. I was supervised by dr. Bert-Jan F. van Beijnum, prof. Jaap H. Buurke, and prof. Peter H. Veltink. The PhD focuses on understanding motor recovery patterns post stroke as well as designing wearable sensors that measure recovery. During this period, we identified metrics that reflect movement quality post stroke by performing systematic reviews. Simultaneously, I developed a Portable Gait Lab system consisting of three inertial measurement units powered by the magic of sensor fusion and biomechanical principles of gait. 
    </TimeLineElement>
    <TimeLineElement
      title="Master Thesis"
      subtitle="From 01-05-2016 to 28-02-2017 at University of Twente, Enschede, The Netherlands"
    >
      The master thesis was eventually a part of my PhD and also resulted in a publication. I evaluated and showed the feasibility of using pressure insoles as a lightweight and inconspicuous alternative for the bulky force sensors present in the ForceShoesᵀᴹ for estimating gait stability measures. 
    </TimeLineElement>
    <TimeLineElement
      title="Master Internship"
      subtitle="From 01-02-2016 to 31-03-2016 at Roessingh Research and Development, Enschede, The Netherlands"
    >
      This short internship was part of my MSc degree. I collected data from healthy volunteers and analyzed changes in EMG power spectrum during static and walking conditions. We found that the power spectrum of the EMG shifted in different directions among different participants. 
    </TimeLineElement>
    <TimeLineElement
      title="Summer Internship"
      subtitle="From 01-07-2015 to 31-08-2015 at Roessingh Research and Development, Enschede, The Netherlands"
    >
      As I was new to the Netherlands, I wanted to explore the research network. So, I spent my first summer helping researchers at RRD with the EVOLUTIONS project. I edited an in house MATLABᵀᴹ based gait analysis tool by improving their UI and functionality based on the requirements and feedback from the researchers.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Docent/Lecturer"
      subtitle="From 01-03-2021 to 31-07-2021 at University of Twente, Enschede, The Netherlands"
    >
      After my Ph.D., I spent a few months teaching 'De Bewegende Mens en Gezondheidsrecht ' course (202000825) for Bachelor Technical Medicine students. I was the instructor for the Motion Capture practical, and setup  different laboratory equipment and and drafted course-specific manuals for them. The equipment included Qualisys motion tracker, Force plates, Delsys EMG systems, and Biodex dynamometer. I evaluated their experimental protocols and final course reports as part of the course requirements.
    </TimeLineElement>
    <TimeLineElement
      title="Service Engineer"
      subtitle="From 01-01-2014 to 30-09-2014 at TransHealth Care Pvt. Ltd., Chennai, India"
    >
      During my stint here, I serviced, installed, demonstrated use of, and maintained biomedical equipment in several hospitals and clinics across South India and New Delhi. The equipment included ventilators, infusion pumps, baby warmers, and patient monitors. I enjoyed problem solving and troubleshooting faulty medical equipment and understanding the pain points of the healthcare workers using them. 
    </TimeLineElement>
    <TimeLineElement
      title="Program Analyst"
      subtitle="From 01-12-2012 to 31-12-2013 at Cognizant Technology Solutions, Bengaluru, India"
    >
      My first real job was working at one of India's largest software consulting firms. I worked with C# and VB .NET. I built desktop and website applications for an American company: Traveler's Insurance. The company had recently added 401(k) pension plans, and we had to enable its functionality on their desktop and website apps. 
    </TimeLineElement>
  </div>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ph.D. in Electrical Engineering"
      subtitle="2017-2021; University of Twente, Enschede, The Netherlands"
    />
    <TimeLineElement
      title="M.Sc. Electrical Engineering with Research Honors"
      subtitle="2015-2017; University of Twente, Enschede, The Netherlands"
    />
    <TimeLineElement
      title="B.E. Biomedical Engineering"
      subtitle="2008-2012; SSN College of Engineering, Chennai, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English</li>
    <li>Dutch</li>
    <li>Tamil</li>
    <li>Hindi</li>    
  </ul>
</BaseLayout>
