---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Ph.D. Dissertation</div>
  </div>
  <HorizontalCard
    title="Moving On: Measuring Movement Remotely after Stroke"
    img="/phd_thesis.webp"
    desc="To identify metrics that reflect movement quality of upper and lower extremities after stroke and develop wearable minimal systems for tracking the proposed metrics."
    url="https://research.utwente.nl/en/publications/moving-on-measuring-movement-remotely-after-stroke/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Other projects</div>
  </div>

  <HorizontalCard
    title="S.W.A.G"
    img="/swag.webp"
    desc="The multidisciplinary initiative in the field of soft robotics focuses on the development of soft wearable exoskeletal robots to empower the lower body and core. The project aims to replace traditional rigid materials found in exoskeletons, with high-strength, inflatable fabrics and sensing films to create smart, human-assistive, soft and lightweight garments. The envisioned exosuits will ensure user comfort and safety, while remaining virtually undetected, invisible under clothing due to their garment-like design."
    url="https://swag-project.eu/"
    badge="ongoing"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SOPHIA"
    img="/sophia.webp"
    desc="The H2020-ICT10 project aimed to create a new generation of core robotic technologies for socially cooperative human-robot systems. The objectives were to achieve a reconfigurable and resource-efficient production and improve human comfort and trust in automation, in hybrid human-plus-robot manufacturing environments."
    url="https://project-sophia.eu/"
    badge="complete"
  />
  <div class="divider my-0"></div>
</BaseLayout>
