---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Highlighted Publications</div>
  </div>

  <div class="pb-12 mt-5">  
    <text class="text-lg">  
      For a complete list of publications, please refer to my <a href="https://scholar.google.com/citations?user=Azx-Q0IAAAAJ&hl=en/"  target="_blank"><b>Google Scholar</b></a> page.
      You can find my peer-review stats here on <a href="https://www.webofscience.com/wos/author/record/319193/"  target="_blank"><b>Publons</b></a> page.      
    </text>
  </div>
  <HorizontalCard
    title="Modelling time-varying fatigue for EMG-driven models"
    img="/fatigue_emg.webp"
    desc="Personalised EMG-driven musculoskeletal models utilize EMG, thus capturing central fatigue-dependent changes in multi-muscle bio-electrical activity. However, the peripheral muscle force decay is missing in these models. Thus, we studied the influence of fatigue on a large scale model, and included a model for time-varying fatigue of the trunk."
    url="https://www.sciencedirect.com/science/article/pii/S0021929024000642/"
    badge="J. Biomech."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="EMG-driven models for back exosuits"
    img="/exosuit.webp"
    desc=" We developed and tested a neuromechanical controller for a soft back exosuit, wherein assistive forces were proportional to the active component of lumbosacral joint moments, which reduced low back compressive loads."
    url="https://arxiv.org/abs/2311.01843"
    badge="arXiv"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Benchmarking passive low-back exos for industrial use"
    img="/benchmarking.webp"
    desc="We benchmarked two rigid (Laevo Flex, Paexo back) and two soft (Auxivo Liftsuit 1.0, and Darwing Hakobelude) exos for an industrial workplace at Hankamp Gears B.V. We measured the assistive moment provided by each exo and their respective influence on muscle activity as well as the user’s perception of comfort and exertion, and found the Laevo to have the best trade-off between subjective and objective measures."
    url="https://www.cambridge.org/core/journals/wearable-technologies/article/benchmarking-commercially-available-soft-and-rigid-passive-back-exoskeletons-for-an-industrial-workplace/FE5D724EF59E482DCD2B6BBCD80ADB29/"
    badge="Wear. Techn."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Three IMUs to estimate relative foot distances during gait"
    img="/three_imu_distance.webp"
    desc="Inertial measurement units (IMU) placed on each foot, and on the pelvis are useful in tracking these segments over time, but cannot track the relative distances between these segments. In this study, we track the relative distances using the assumptions of the Centroidal Moment Pivot (CMP) theory. An Extended Kalman filter approach was used to fuse information from different sources: strapdown inertial navigation, commonly used constraints such as zero velocity updates, and relative segment distances from the CMP assumption; to eventually track relative feet and CoM positions."
    url="https://ieeexplore.ieee.org/document/9171861/"
    badge="IEEE TNSRE"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Patenting the Three IMUs algorithm"
    img="/patent.webp"
    desc="The methods used to estimate gait kinetics, kinematics, and balance measures using three IMUs have been patented."
    url="https://ris.utwente.nl/ws/portalfiles/portal/250007957/publication_WO_2021_010832.pdf/"
    badge="Patent"
  />
</BaseLayout>
