---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Publications" sideBarActiveItemID="publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Highlighted Publications</div>
  </div>

  <div class="pb-12 mt-5">  
    <text class="text-lg">  
      For a complete list, please refer to my <a href="https://scholar.google.com/citations?user=Azx-Q0IAAAAJ&hl=en/"  target="_blank"><b>Google Scholar</b></a> page.
    </text>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div>
  <HorizontalCard
    title="Modelling time-varying fatigue for EMG-driven models"
    img="/fatigue_emg.webp"
    desc="Personalised electromygraphy (EMG)-driven musculoskeletal models (pEMS) offer person-specific approaches to model muscle and joint kinetics during a wide repertoire of daily life tasks. These models utilize EMG, thus capturing central fatigue-dependent changes in multi-muscle bio-electrical activity. However, the peripheral muscle force decay is missing in these models. Thus, we studied the influence of fatigue on a large scale pEMS of the trunk."
    url="https://www.sciencedirect.com/science/article/pii/S0021929024000642/"
    badge="J. Biomech."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
</BaseLayout>
