---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Student Projects</div>    
  </div>
  <div class="pb-12 mt-5">  
    <text class="text-lg">  
      For a complete list of open student projects, please refer to our <a href="https://www.utwente.nl/en/et/be/education/intra/?2c3d12d17c47515040427d958b3291=z3P_7TROiI-hB1pJAWZrmw,l8Md-Znk6T2lAf0iF3qBIA,6tIwWXxU4DRDBCzxLNZJRw/"  target="_blank"><b>department website</b></a>.      
    </text>
  </div>    
  <HorizontalCard
    title="Learning human-exosuit interaction forces"
    img="/learning_interactions.webp"
    desc="Soft wearable robots, or exosuits, are more comfortable and wearable. However, they are tricky to model. Your challenge, if you so choose, is to develop machine-learning methods to improve the modelling of the human-exosuit interface."
    url="mailto:m.i.mohamedrefai@utwente.nl?subject=student_project/"
    badge="open"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Optimizing design of soft exosuits"
    img="/soft_robot.webp"
    desc="Soft wearable robots have the freedom to wrap around the contour of the user. But, which design optimizes comfort? and which one optimizes biomechanics? You will be tasked with finding this out!"
    url="mailto:m.i.mohamedrefai@utwente.nl?subject=student_project/"
    badge="open"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Biomechanical Modelling for Edge Devices"
    img="/edge_devices.webp"
    desc="Wearable movement sensors collect a plethora of data from users using different modalities to develop digital twins. The models required to personalize these digital twins are computationally heavy. Federated learning can be a potential solution in reducing the complexity of models for edge devices. Your mission is to develop machine-learning techniques that optimizes deployment of models on edge devices."
    url="mailto:m.i.mohamedrefai@utwente.nl?subject=student_project/"
    badge="open"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Biomechanical Modelling from Multimodal Sparse Sensors"
    img="/sparse_biomechanics.webp"
    desc="Imagine you are drifting in space and require a precise orientation to get from point A to point B in your space ship. There are several sensors sparsely spread out. What's the ideal way to fuse them?"
    url="mailto:m.i.mohamedrefai@utwente.nl?subject=student_project/"
    badge="open"
  />
  <div class="divider my-0"></div>
</BaseLayout>
