---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Talks" sideBarActiveItemID="talks">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Invited Talks</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement      
      title="2024"            
    >
      <TimeLineElement
        title="Defense Research and Development Organization"
        subtitle="16 - 17 April, Bengaluru, India"
      >
        <b>Digital Twins for Advanced Back Support Exoskeletons for the Industry</b>
      </TimeLineElement>
      <TimeLineElement
        title="Indian Institute of Technology Delhi"
        subtitle="16 - 17 April, Bengaluru, India"
      >
        <b>Wearable Models for Assistive Devices</b>
      </TimeLineElement>
    </TimeLineElement>
    <div class="divider my-0"></div>
    <div class="divider my-0"></div>    
  </div>
  
</BaseLayout>
