---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Talks" sideBarActiveItemID="talks">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Invited Talks</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement      
      title="Defense Research and Development Organization, India"      
      subtitle="2024"
    >
      <b>Digital Twins for Advanced Back Support Exoskeletons for the Industry</b>: 
      International workshop on Emerging Technologies and Challenges for Exoskeleton organized by the Defence Bioengineering and Electromedical Laboratory (DEBEL), Defence Research and Development Organisation (DRDO), Bengaluru, India
      https://drdo.gov.in/drdo/debel-international-workshop-website
    </TimeLineElement>
    <TimeLineElement
      title="Wearable Models for Assistive Devices"
      subtitle="From 01-07-2024 to 30-09-2024 at London, UK"
    >
      During my brief stay at <a href="https://tthuruthel.com/"  target="_blank">Thomas George Thuruthel</a>'s lab, I developed techniques to optimize design of soft robots to 
      assist movement of the human joint. Then, we applied machine learning techniques to estimate contact forces between the soft robot and the human joint. 
        <TimeLineElement
        title="Wearable Models for Assistive Devices"
        subtitle="From 01-07-2024 to 30-09-2024 at London, UK"
      >
        During my brief stay at <a href="https://tthuruthel.com/"  target="_blank">Thomas George Thuruthel</a>'s lab, I developed techniques to optimize design of soft robots to 
        assist movement of the human joint. Then, we applied machine learning techniques to estimate contact forces between the soft robot and the human joint. 
      </TimeLineElement>
    </TimeLineElement>
    <TimeLineElement
      title="Postdoctoral Research, University of Twente"
      subtitle="From 01-11-2021 to 31-01-2024 at Enschede, The Netherlands"
    >
      I was part of two EU funded projects, SOPHIA, and S.W.A.G. with <a href="https://people.utwente.nl/m.sartori/"  target="_blank">Prof. Massimo Sartori</a>. <br>
      <a href="https://project-sophia.eu/"  target="_blank"><b>SOPHIA</b></a> : Our partners were really interested in improving conditions for factory workers. To this end, I developed fatigue models to monitor musculoskeletal loading 
      after repeated lifting of heavy weights. 
      I guided a study were we benchmarked different exoskeletons for an industrial workplace. We also tested <i>EMG-driven</i> models to neurally interface and control assistive robots 
      for the lower back and showed their benefits in reducing musculoskeletal loads. <br>
      <a href="https://swag-project.eu/"  target="_blank"><b>SWAG</b></a>: The project kicked off only recently (2023). We aim to improve wearability of our neural interface models so it can be deployed easily in daily life. 
      We will also test our interface models with novel high-strength and lightweight exosuits developed by partners. Keep you posted on exciting news! 
    </TimeLineElement>
    <TimeLineElement
      title="Doctoral Candidate, University of Twente"
      subtitle="From 19-03-2017 to 07-07-2021 at Enschede, The Netherlands"
    >
      During my PhD, I focused on reducing sensors needed to measure movement quality post stroke. This project was funded by the Dutch Science Foundation. Our consortium included 
      a strong representation from the industry too. 
      I was supervised by dr. Bert-Jan F. van Beijnum, prof. Jaap H. Buurke, and prof. Peter H. Veltink. During my time here, we identified metrics that reflect movement quality 
      post stroke by performing a couple of extensive systematic reviews. 
      Simultaneously, I developed a Portable Gait Lab system consisting of three inertial measurement units powered by the magic of sensor fusion and biomechanical principles of gait.
      This technology was patented too!
    </TimeLineElement>
    <TimeLineElement
      title="Master Thesis, University of Twente"
      subtitle="From 01-05-2016 to 28-02-2017 at Enschede, The Netherlands"
    >
      I developed machine learning models to extract 3D force information from pressure insoles and could be used to provide quality of gait during different types of walking. 
       The master thesis helped me ramp up to my PhD and resulted in my first publication in IEEE TNSRE. 
    </TimeLineElement>
    <TimeLineElement
      title="Master Internship, Roessingh Research and Development"
      subtitle="From 01-02-2016 to 31-03-2016 at Enschede, The Netherlands"
    >
      During this internship as part of my MSc degree, I assessed how fatigue influenced the muscle activity measured using EMGs. I collected data from healthy volunteers 
      and analyzed changes in EMG power spectrum during static and walking conditions. We found that the power spectrum of the EMG shifted in different directions among different participants. 
      I was guided by Leendert Schaake and Jaap Buurke. 
    </TimeLineElement>
    <TimeLineElement
      title="Summer Internship, Roessingh Research and Development"
      subtitle="From 01-07-2015 to 31-08-2015 at Enschede, The Netherlands"
    >
      I had just arrived to Netherlands a few months ago and had an intense set of courses. Therefore, during my summer break, I explored how research functioned here. 
      I spent my first summer helping researchers at RRD with the EVOLUTIONS project. I updated their custom MATLAB based gait analysis tool by improving their UI and 
      functionality based on the requirements and feedback from the researchers. I was guided by Leendert Schaake.
    </TimeLineElement>
  </div>
  
</BaseLayout>
