---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Talks" sideBarActiveItemID="talks">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Invited Talks</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement      
      title="2024"            
    >
      <TimeLineElement
        title="Learning based modelling of human-machine interfaces"
        subtitle="at Letizia Gionfrida's lab, King's College London, London, UK"
      >      
      </TimeLineElement>
      <TimeLineElement
        title="Digital Twins for Advanced Back Support Exoskeletons for the Industry"
        subtitle="Defense Research and Development Organization, 16 - 17 April, Bengaluru, India"
      >      
      </TimeLineElement>
      <TimeLineElement
        title="Wearable Models for Assistive Devices"
        subtitle="Indian Institute of Technology Delhi"
      >        
      </TimeLineElement>
    </TimeLineElement>
    <div class="divider my-0"></div>
    <div class="divider my-0"></div>    
    <TimeLineElement      
      title="2023"            
    >
      <TimeLineElement
        title="Pathfinder – Alumni Talk Series"
        subtitle="SSN College of Engineering"
      >        
      </TimeLineElement>      
    </TimeLineElement>
    <div class="divider my-0"></div>
    <div class="divider my-0"></div>   
    <TimeLineElement      
      title="2022"            
    >      
      <TimeLineElement
        title="Wearable Assistive and Accessible Technologies"
        subtitle="TU Darmstadt, Germany"
      >        
      </TimeLineElement>
      <TimeLineElement
        title="wearM.AI – a wearable musculoskeletal and artificial intelligence system"
        subtitle="TechMed Talent Talks 2022, Enschede, The Netherlands"
      >        
      </TimeLineElement>
    </TimeLineElement>
    <div class="divider my-0"></div>
    <div class="divider my-0"></div> 
    <TimeLineElement      
      title="2020"            
    >
      <TimeLineElement
        title="Portable Gait Lab: tracking gait kinetics and kinematics using only three inertial measurement units"
        subtitle="2020 International Conference on Biotechnology and Bioengineering"
      >        
      </TimeLineElement>      
    </TimeLineElement>
    <div class="divider my-0"></div>
    <div class="divider my-0"></div>  
  </div>  
</BaseLayout>
